version: 2
jobs:
  build:
    macos:
      xcode: "9.4.0"

    steps:
      - checkout

      - run:
          name: Update submodules
          command: git submodule update --init --recursive

      - run:
          name: Build and run tests
          command: fastlane scan
          environment:
            SCAN_DEVICE: iPhone 8
            SCAN_SCHEME: ReactiveObjC-iOS

      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: /tmp/test-results
          destination: scan-test-results
      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs
